@charset "UTF-8";

@charset "UTF-8";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto-Sans KR', sans-serif;
    list-style: none;
    text-decoration: none;
}

:root
    {
    /*color*/
    --color-white : white;
    --color-black : #212B36;
    --color-blue : #009AE9;
    --color-grey : #637181;
    --color-red : #E75555;
    --color-green : #229915;
    
    /*font size*/
    --font-large: 24px;
    --font-medium: 20px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 13px;

    /*font weight*/
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;
    --weight-small: 200;
    }

/*회원가입 페이지 시작*/
body
{
    background-color: rgb(145, 158, 171, 0.12);
}

.background{
    height: 100vh;
    
    position: relative;
}

.pw_container{
    width: 1020px;
    margin: 0 auto;
    text-align: center;
}

.pw_container > .pw_back{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 560px;
    background-color: white;
    border-radius: 10px;
}

.pw_container > .pw_back > .pw_section1 > h1{
    background-color: #EBEFFA;
    border-radius: 6px;
    color: #333333;
    padding: 30px 70px;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 30px;
}

.pw_container > .pw_back > .pw_section1 > p{
    margin-bottom: 5px;
    color: #333333;
    font-size: 13px;
    font-weight: 500;
}

.pw_container > .pw_back > .pw_section2{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pw_container > .pw_back > .pw_section2 > ul > form > li{
    margin-bottom: 8px;
    font-size: var(--font-large);
}

.pw_container > .pw_back > .pw_section2 > ul > form > li:nth-last-child(2){
    margin-bottom : 30px;
}

.pw_container > .pw_back > .pw_section2 > ul > form > li > .box{
    width: 340px;
    height: 50px;
    border-radius: 6px;
    border:1px solid #2b489c;
    padding: 0 20px;
    line-height: 50px;
    font-size: 18px;
}


.pw_container > .pw_back > .pw_section2 > ul > form > li > .number{
    background-color: rgba(145, 158, 171, 0.12);
    cursor: default;
}

.pw_container > .pw_back > .pw_section2 > ul > form > li > .box::placeholder{
    color: #6c757d;
    font-size: 18px;
    font-family: 'Noto-Sans KR', sans-serif;
    font-weight: 500; 
    
}

.pw_container > .pw_back > .pw_section2 > ul > form > li > .sub{
    width: 340px;
    height: 80px;
    background-color: #2b489c;
    margin-bottom: 10px;
    color: white;
    display: inline-block;
    border-radius: 6px;
    line-height: 80px;
    font-weight: 700;
    font-size: 24px;
    cursor: pointer;
}

.pw_container > .pw_back > .pw_section2 > ul > form > li > .sub:hover{
    background-color: #009AE9;
    border : 1px solid #009AE9;
    cursor: pointer;
}

