@charset "UTF-8";

:root
{
    /*color*/
    --color-white : white;
    --color-black : #212B36;
    --color-blue : #009AE9;
    --color-grey : #637181;
    --color-red : #E75555;
    --color-green : #229915;
    
    /*font size*/
    --font-large: 24px;
    --font-medium: 20px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 13px;

    /*font weight*/
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;
    --weight-small: 200;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none;
}

body{
    display: flex;
    background-color: rgba(145, 158, 171, 0.12);

}

/*좌측 네비바 시작*/
#navbar{
    width:280px;
    background-color: white;
    border-right: 1px solid rgb(189, 189, 196);
    position: fixed;
    height: 100%;
    overflow: auto;
    z-index: 5;
}

#navbar > .nav_container{
    width: 100%;
    height: 100%;
}

#navbar > .nav_container > .nav_logo_container{
    margin: 0 auto;
}

#navbar > .nav_container > .nav_logo_container > a{
    height: 100px;
}

#navbar > .nav_container > .nav_logo_container > a > img{
    max-width: 100%;
    max-height: 100%;
}

#navbar > .nav_container > .nav_user_container{
    height: 50px;
    text-align: center;
    margin-bottom: 70px;
}

#navbar > .nav_container > .nav_user_container > a{
    display: inline-block;
    width: 230px;
    height: 80px;
    line-height: 80px;
    background-color: rgba(145, 158, 171, 0.12);
    border-radius: 10px;
    font-size: 30px;
    font-weight: 700;
}

#navbar > .nav_container > hr
    {
    margin: 10px 0;
    color: rgb(189, 189, 196);
    }


#navbar > .nav_container > .nav_ul_container{
    margin-bottom: 10px;
    height: auto;
}

#navbar > .nav_container > .nav_ul_container > ul > div{
    display: flex;
}

#navbar > .nav_container > .nav_ul_container > ul > div > i, label{
    display: block;
    line-height: 100%;
    cursor: pointer;
    padding: 15px 0 15px 10px;
    font-size: var(--font-medium);
    font-weight: var(--weight-regular);
    color: #2b489c;
    transition: all 200ms;
}

#navbar > .nav_container > .nav_ul_container > ul > div > label{
    width: 100%;
}

#navbar > .nav_container > .nav_ul_container > ul:hover > div > i{
    background-color: #009AE914;
}

#navbar > .nav_container > .nav_ul_container > ul:hover > div > label{
    background-color: #009AE914;
    border-right: 2px solid #2b489c;
}

#navbar > .nav_container > .nav_ul_container > ul > li{
    background-color: var(--color-white);
    height: 0;
    padding: 0 40px;
    opacity: 0;
    visibility: hidden;
    list-style: inside;
    transition: all 200ms;
}

#navbar > .nav_container > .nav_ul_container > ul > li > a{
    color: var(--color-black);
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
}

#navbar > .nav_container > .nav_ul_container > ul > #box1:checked ~ li{
    opacity: 1;
    height: auto;
    padding: 10px 40px;
    visibility: visible;
    list-style: inside;
    
}

#navbar > .nav_container > .nav_ul_container > ul > #box1:checked ~ div > i {
    background-color: #009AE914;
}

#navbar > .nav_container > .nav_ul_container > ul > #box1:checked ~ div > label {
    border-right: 2px solid #2b489c;
    background-color: #009AE914;
}

#navbar > .nav_container > .nav_ul_container > ul > #box2:checked ~ li{
    opacity: 1;
    height: auto;
    padding: 10px 40px;
    visibility: visible;
    list-style: inside;
}
#navbar > .nav_container > .nav_ul_container > ul > #box2:checked ~ div > i {
    background-color: #009AE914;
}

#navbar > .nav_container > .nav_ul_container > ul > #box2:checked ~ div > label {
    border-right: 2px solid #2b489c;
    background-color: #009AE914;
}

#navbar > .nav_container > .nav_ul_container > ul > #box3:checked ~ li{
    opacity: 1;
    height: auto;
    padding: 10px 40px;
    visibility: visible;
    list-style: inside;
}

#navbar > .nav_container > .nav_ul_container > ul > #box3:checked ~ div > i {
    background-color: #009AE914;
}

#navbar > .nav_container > .nav_ul_container > ul > #box3:checked ~ div > label {
    border-right: 2px solid #2b489c;
    background-color: #009AE914;
}

#navbar > .nav_container > .nav_ul_container > ul > #box4:checked ~ li{
    opacity: 1;
    height: auto;
    padding: 10px 40px;
    visibility: visible;
    list-style: inside;
}
#navbar > .nav_container > .nav_ul_container > ul > #box4:checked ~ div > i {
    background-color: #009AE914;
}

#navbar > .nav_container > .nav_ul_container > ul > #box4:checked ~ div > label {
    border-right: 2px solid #2b489c;
    background-color: #009AE914;
}

#navbar > .nav_container > .nav_ul_container > ul > input{
    display: none;
}
/*좌측 네비바 끝*/

/*포맷(배너, 메인포함) 시작*/

/*배너*/
#format{
    width: 100%;
}

#format > .banner{
    background-color: white;
    height: 60px;
    display: flex;
    justify-content: end;
    padding-right: 50px;
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 100%;
}

#format > .banner > input{
    display: inline-block;
    color: var(--color-black);
    font-size: var(--font-small);
    font-weight: var(--weight-semi-bold);
    background-color: #009AE914;
    border: 1px solid var(--color-blue);
    border-radius: 10px;
    cursor: pointer;
    width: 80px;
    height: 40px;
    position: absolute;
    z-index: 1;
}
/*배너 끝*/

#format > .main{
    margin-top: 60px;
    /*background-color: transparent;*/
    padding-left: 280px;
    background-color: transparent;
    width: 100%;
}

#format > .main > .frame{
    margin: 130px auto 0;
    min-height: 850px;
    min-width: 1200px;
    height: 850px;
    width: 1200px;
    background-color: transparent;
    border-radius: 20px;
    max-height: 850px;
}

/*****************틀*****************/

/*프레임 시작*/

#format > .main > .frame > div{
    width: 100%;
    min-width: 1200px;
    margin-bottom: 30px;
    height: 180px;
    border-radius: 20px;
    background: white;
}

#format > .main > .frame > div:last-child{
    margin: 0;
    height: 430px;
}

#format > .main > .frame > .top{    
    background: url(../images/main.jpg) -600px -650px no-repeat;
    opacity: 0.9;
}

#format > .main > .frame > .top > img{
    display: block;
    opacity: 1;
    margin-left: auto;
    height: 100%;
}

#format > .main > .frame > .middle{
    display: flex;
    justify-content: space-between;
    background-color: transparent;
}

#format > .main > .frame > .middle > div{
    width: 590px;
    height: 180px;
    padding: 15px 30px;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
}

#format > .main > .frame > .middle > div >.info_container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#format > .main > .frame > .middle > div >.info_container > a{
    color: var(--color-black);
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
}

#format > .main > .frame > .middle > div >.info_container > p{
    color: var(--color-black);
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
}

#format > .main > .frame > .middle > div >.info_container > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*#format > .main > .frame > .middle > div >.info_container > div > a{
    text-decoration:none;	
}*/
/*여기*/
#format > .main > .frame > .middle > div >.info_container > div > a > i{
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 50%;
    transition: all 400ms;
    background-color: rgba(145, 158, 171, 0.12);
    color: black;

}

#format > .main > .frame > .middle > div >.info_container > div > i:hover{
    background-color: rgba(145, 158, 171, 0.5);
}

#format > .main > .frame > .middle > div > .ul_container{
    overflow: hidden;
    padding-right:5px;
    border-radius : 5px;
}

#format > .main > .frame > .middle > div > .ul_container > ul > li{
    width: 100%;
    overflow: hidden;
    margin-bottom: 5px;
    padding-left: 5px;
    display: flex;
}
/*
#format > .main > .frame > .middle > div > .ul_container > ul > li:nth-child(2n-1){
    background-color: rgba(145, 158, 171, 0.12);
}
#format > .main > .frame > .middle > div > .ul_container > ul > li:nth-child(2n){
    background-color: rgba(145, 158, 171, 0.2);
}
*/

#format > .main > .frame > .middle > div > .ul_container > ul > li > .list{
    width: 20px;
    margin-right: 10px;
    color: black;
    text-align: center;
}

#format > .main > .frame > .middle > div > .ul_container > ul > li > a{
    color: var(--color-grey);
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
}

#format > .main > .frame > .bottom{
    padding: 15px 30px;
}

#format > .main > .frame > .bottom > .top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#format > .main > .frame > .bottom > .top > a{
    color: var(--color-black);
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
}

#format > .main > .frame > .bottom > .top > form > select{
    width: 300px;
    padding: 8px 0;
    font-size: 14px;
}
#format > .main > .frame > .bottom > .top > form > input{
    display: inline-block;
    width: 60px;
    height: 40px;
    background-color: #2b489c;
    border: 1px solid transparent;
    color: white;
    border-radius: 10px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
}

#format > .main > .frame > .bottom > .middle > ul{
    overflow: hidden;
    padding-right:5px;
    border-radius : 5px;
}

#format > .main > .frame > .bottom > .middle > ul > li{
    width: 100%;
    overflow: hidden;
    margin-bottom: 5px;
    padding-left: 5px;
    display: flex;
}

#format > .main > .frame > .bottom > .middle > ul > li >.list{
    width: 20px;
    margin-right: 10px;
    color: black;
    text-align: center;
}

#format > .main > .frame > .bottom > .middle > ul > li > a{
    color: var(--color-grey);
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
}

#format > .main > .frame > .bottom > .bottom{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#format > .main > .frame > .bottom > .bottom > .space{
    width: 80px;
}


#format > .main > .frame > .bottom > .bottom > div > .write{
    display: inline-block;
    width: 80px;
    height: 40px;
    background-color: #2b489c;
    border: 1px solid transparent;
    color: white;
    border-radius: 10px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    font-weight: 500;
}

#format > .main > .frame > .bottom > .bottom > div > a > i{
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 50%;
    transition: all 400ms;
    background-color: rgba(145, 158, 171, 0.12);
    color: black;
}

#format > .main > .frame > .bottom > .bottom > div > a > i:hover{
    background-color: rgba(145, 158, 171, 0.5);
}

/*프레임 끝*/


















