:root
{
    /*color*/
    --color-white : white;
    --color-black : #212B36;
    --color-blue : #009AE9;
    --color-grey : #637181;
    --color-red : #E75555;
    --color-green : #229915;
    
    /*font size*/
    --font-large: 24px;
    --font-medium: 20px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 13px;

    /*font weight*/
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;
    --weight-small: 200;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none;
    font-size: var(--font-regular);
}

body{
    display: flex;
    background-color: rgba(145, 158, 171, 0.12);

}

/*좌측 네비바 시작*/
#navbar{
    width:280px;
    background-color: white;
    border-right: 1px solid rgb(189, 189, 196);
    position: fixed;
    height: 100%;
    overflow: auto;
    z-index: 5;
}

#navbar > .nav_container{
    width: 100%;
    height: 100%;
}

#navbar > .nav_container > .nav_logo_container{
    margin: 0 auto;
}

#navbar > .nav_container > .nav_logo_container > a{
    height: 100px;
}

#navbar > .nav_container > .nav_logo_container > a > img{
    max-width: 100%;
    max-height: 100%;
}

#navbar > .nav_container > .nav_user_container{
    height: 50px;
    text-align: center;
    margin-bottom: 70px;
}

#navbar > .nav_container > .nav_user_container > a{
    display: inline-block;
    width: 230px;
    height: 80px;
    line-height: 80px;
    background-color: rgba(145, 158, 171, 0.12);
    border-radius: 10px;
    font-size: 30px;
    font-weight: 700;
}

#navbar > .nav_container > hr
    {
    margin: 10px 0;
    color: rgb(189, 189, 196);
    }


#navbar > .nav_container > .nav_ul_container{
    margin-bottom: 10px;
    height: auto;
}

#navbar > .nav_container > .nav_ul_container > ul > div{
    display: flex;
}

#navbar > .nav_container > .nav_ul_container > ul > div > i, label{
    display: block;
    line-height: 100%;
    cursor: pointer;
    padding: 15px 0 15px 10px;
    font-size: var(--font-medium);
    font-weight: var(--weight-regular);
    color: #2b489c;
    transition: all 200ms;
}

#navbar > .nav_container > .nav_ul_container > ul > div > label{
    width: 100%;
}

#navbar > .nav_container > .nav_ul_container > ul:hover > div > i{
    background-color: #009AE914;
}

#navbar > .nav_container > .nav_ul_container > ul:hover > div > label{
    background-color: #009AE914;
    border-right: 2px solid #2b489c;
}

#navbar > .nav_container > .nav_ul_container > ul > li{
    background-color: var(--color-white);
    height: 0;
    padding: 0 40px;
    opacity: 0;
    visibility: hidden;
    list-style: inside;
    transition: all 200ms;
}

#navbar > .nav_container > .nav_ul_container > ul > li > a{
    color: var(--color-black);
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
}

#navbar > .nav_container > .nav_ul_container > ul > #box1:checked ~ li{
    opacity: 1;
    height: auto;
    padding: 10px 40px;
    visibility: visible;
    list-style: inside;
    
}

#navbar > .nav_container > .nav_ul_container > ul > #box1:checked ~ div > i {
    background-color: #009AE914;
}

#navbar > .nav_container > .nav_ul_container > ul > #box1:checked ~ div > label {
    border-right: 2px solid #2b489c;
    background-color: #009AE914;
}

#navbar > .nav_container > .nav_ul_container > ul > #box2:checked ~ li{
    opacity: 1;
    height: auto;
    padding: 10px 40px;
    visibility: visible;
    list-style: inside;
}
#navbar > .nav_container > .nav_ul_container > ul > #box2:checked ~ div > i {
    background-color: #009AE914;
}

#navbar > .nav_container > .nav_ul_container > ul > #box2:checked ~ div > label {
    border-right: 2px solid #2b489c;
    background-color: #009AE914;
}

#navbar > .nav_container > .nav_ul_container > ul > #box3:checked ~ li{
    opacity: 1;
    height: auto;
    padding: 10px 40px;
    visibility: visible;
    list-style: inside;
}

#navbar > .nav_container > .nav_ul_container > ul > #box3:checked ~ div > i {
    background-color: #009AE914;
}

#navbar > .nav_container > .nav_ul_container > ul > #box3:checked ~ div > label {
    border-right: 2px solid #2b489c;
    background-color: #009AE914;
}

#navbar > .nav_container > .nav_ul_container > ul > #box4:checked ~ li{
    opacity: 1;
    height: auto;
    padding: 10px 40px;
    visibility: visible;
    list-style: inside;
}
#navbar > .nav_container > .nav_ul_container > ul > #box4:checked ~ div > i {
    background-color: #009AE914;
}

#navbar > .nav_container > .nav_ul_container > ul > #box4:checked ~ div > label {
    border-right: 2px solid #2b489c;
    background-color: #009AE914;
}

#navbar > .nav_container > .nav_ul_container > ul > input{
    display: none;
}
/*좌측 네비바 끝*/

/*포맷(배너, 메인포함) 시작*/

/*배너*/
#main{
    width: 100%;
}

#main > .banner{
    background-color: white;
    height: 60px;
    display: flex;
    justify-content: end;
    padding-right: 50px;
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 100%;
}

#main > .banner > input{
    display: inline-block;
    color: var(--color-black);
    font-size: var(--font-small);
    font-weight: var(--weight-semi-bold);
    background-color: #009AE914;
    border: 1px solid var(--color-blue);
    border-radius: 10px;
    cursor: pointer;
    width: 80px;
    height: 40px;
    position: absolute;
    z-index: 1;
}
/*배너 끝*/

#main > .container{
    margin-top: 60px;
    padding-left: 280px;
    background-color: transparent;
    width: 100%;
}

/*****************틀*****************/

/*해당 부분은 내용은 건드리지 말고 frame이후만 page에 맞게 수정 */
#main > .container > .frame{
    margin: 130px auto 0;
    min-height: 850px;
    min-width: 1200px;
    height: 850px;
    width: 1200px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}

/*프레임 시작*/

/*제목*/
#main > .container > .frame > .frame_top{
    display: flex;
    justify-content: space-between;
    height: 80px;
    border-bottom: 1px solid var(--color-black);
    margin-bottom: 20px;
    align-items: center;
}

#main > .container > .frame > .frame_top > .title{
    font-size: 24px;
    font-weight: 700;
}

#main > .container > .frame > .frame_top > .title_sub{
    display: none;
}
/*제목 끝*/
/*내용 : 작성하시오~~~~~~~~~~~*/
.container > .frame > .frame_bottom > .select_item{
    margin-top: 20px;
    height: 50px;
    display: flex;
    justify-content: center;
    line-height: 87px;
}

.container > .frame > .frame_bottom > .select_item > form > select{
    width: 320px;
    height: 50px;
    border-radius: 10px;
    border:2px solid #333333;
    padding: 0 20px;
    font-size: var(--font-regular);
}

.container > .frame > .frame_bottom > .select_item > form > select{
	margin-right: 40px;
}

.container > .frame > .frame_bottom > .select_item > form > input{
    height: 50px;
    width: 60px;
    border-radius: 10px;
    font-size: var(--font-regular);
    cursor: pointer;
    background-color: #2b489c;
    color: white;
    border:1px solid #2b489c;
    text-align: center;
}

.container > .frame > .frame_bottom > .middle1{
    margin-top: 20px;
    width: 100%;
    height: 400px;
    position: relative;
}


.container > .frame > .frame_bottom > .middle1 > .middle1_border{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    border: 2px solid #333333;
    width: 810px;
    height: 300px;
    border-radius: 10px;
}

.container > .frame > .frame_bottom > .middle1 > .middle1_border > .middle1_left{
    margin: auto 20px auto 0;
    
}

.container > .frame > .frame_bottom > .middle1 > .middle1_border >  .middle1_left > .QA1 >.Q1{
    display: flex;
}

.container > .frame > .frame_bottom > .middle1 > .middle1_border >  .middle1_left > .QA1 > .Q1 >.Q_item{
    border : 1px solid #909090;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: var(--font-medium);
    background-color: rgba(32, 36, 41, 0.12);
}

.container > .frame > .frame_bottom > .middle1 > .middle1_border >  .middle1_left > .QA1 > .A1{
    display: flex;
}

.container > .frame > .frame_bottom > .middle1 > .middle1_border >  .middle1_left > .QA1 > .A1 >.A_item{
    border : 1px solid #909090;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: var(--font-medium);
    background-color: hsla(200, 73%, 55%, 0.584);
}

.container > .frame > .frame_bottom > .middle1 > .middle1_border >  .middle1_left > .QA1>.A1 > .incorrect{
    background-color: hsla(358, 83%, 55%, 0.57);
}

.container > .frame > .frame_bottom > .middle1 > .middle1_border >  .middle1_right{
    height: 200px;
    margin: auto 0;
}

.container > .frame > .frame_bottom > .middle1 > .middle1_border >  .middle1_right > p{
    display: inline-block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 200px;
    background-color: rgba(32, 36, 41, 0.12);
    border: 1px solid #909090;
    border-radius: 6px 6px 0 0;
    font-size: var(--font-medium);
}

.container > .frame > .frame_bottom > .middle1 > .middle1_border > .middle1_right > .score{
    height: 150px;
    line-height: 120px;
    text-align: center;
    width: 200px;
    font-size: 80px;
    color: #333333;
    border-radius: 0 0 6px 6px;
    border: 1px solid #909090;
    border-top: 2px solid white;
}

.container > .frame > .frame_bottom > form > .middle2{
    display: flex;
    justify-content: center;
    margin-left: -8px;
}
.container > .frame > .frame_bottom > form > .middle2 > .total{
    padding : 24px 12px 0;
    justify-content: center;
    line-height: 40px;
    display: flex;
}
.container > .frame > .frame_bottom > form > .middle2 > .total > p{
    margin-bottom: 5px;
    color: #333333;
    font-weight: 500;
    margin:0 10px;
    border: 1px solid #909090;
    border-radius: 4px;
    padding: 0 10px;
}
.container > .frame > .frame_bottom > form > .middle2 > .total > input{
    width: 170px;
    height: 40px;
    border-radius: 6px;
    border : 1px solid #909090;
    padding : 16.5px 14px;
    background-color: rgba(145, 158, 171, 0.12);
    cursor:default;
    font-size: 17px;
    text-align: center;
 
}

.container > .frame > .frame_bottom > form > .middle2 > .total > input:focus{
	outline:none;
	
}
.container > .frame > .frame_bottom > form > .middle2 > .attend{
    padding : 24px 12px 0;
    display: flex;
    justify-content: center;
    line-height: 40px;
}
.container > .frame > .frame_bottom >form >  .middle2 > .attend > p{
    margin-bottom: 5px;
    color: #333333;
    font-weight: 500;
    margin:0 10px;
    border: 1px solid #909090;
    border-radius: 4px;
    padding: 0 10px;
}
.container > .frame > .frame_bottom > form > .middle2 > .attend > input{
    width: 170px;
    height: 40px;
    border-radius: 6px;
    border : 1px solid #909090;
    padding : 16.5px 14px;
    background-color: rgba(145, 158, 171, 0.12);
    cursor:default;
    font-size: 17px;
    text-align: center;
}
.container > .frame > .frame_bottom > form > .middle2 > .attend > input:focus{
	outline: none;
}
.container > .frame > .frame_bottom > form > .middle2 > .absence{
    padding : 24px 12px 0;
    display: flex;
    justify-content: center;
    line-height: 40px;
}
.container > .frame > .frame_bottom > form > .middle2 > .absence > p{
    margin-bottom: 5px;
    color: #333333;
    font-weight: 500;
    margin:0 10px;
    border: 1px solid #909090;
    border-radius: 4px;
    padding: 0 10px;
}
.container > .frame > .frame_bottom >form >  .middle2 > .absence > input{
    width: 160px;
    height: 40px;
    border-radius: 6px;
    border : 1px solid #909090;
    padding : 16.5px 14px;
    background-color: white;
    cursor:default;
    font-size: 17px;
    text-align: center;
}
.container > .frame > .frame_bottom > form > .admin_bottom{
    display: flex;
    margin: 50px 175px 50px;
    justify-content: space-between;
    padding: 0;
}
.container > .frame > .frame_bottom > form > .admin_bottom > .grade{
    display: flex;
}
.container > .frame > .frame_bottom >form >  .admin_bottom > .grade > p{
    border: 1px solid #909090;
    border-radius: 4px;
    padding: 10px 30px;
    margin-right: 10px;
}
.container > .frame > .frame_bottom >form >  .admin_bottom > .grade > input{
    width: 160px;
    height: 50px;
    border-radius: 6px;
    border : 1px solid #909090;
    padding : 16.5px 14px;
    background-color: rgba(145, 158, 171, 0.12);
    cursor:default;
    font-size: 17px;
    text-align: center;
}

.container > .frame > .frame_bottom >form >  .admin_bottom > .grade > input:focus{
	outline: none;
}
.container > .frame > .frame_bottom > form > .admin_bottom > .final{
    border: 1px solid #909090;
    border-radius: 4px;
    padding: 10px 30px;
    background-color: #2b489c;
    color: white;
    cursor: pointer;
}
/*성적관리 끝*/
/*내용 끝*/
/*프레임 끝*/